<nav class="navbar navbar-light bg-light">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        PROJETO
      </a>
      <div class="links">
        <a href="/profile">Profile</a>
        <a href="/chat">Chat</a>
        <a href="/logout">Logout</a>
      </div>
</nav>
<style>
  .navbar {
    box-shadow: 2px 2px 5px #000;
  }
  
  a {
    text-decoration: none;
  }
</style>