<%- include('../../partials/header.ejs') %>
<%- include ('../../partials/homenavbar.ejs') %>
<body>
  <div class="container">
  <div class="container_forms">
      <form id="form_login" method="post" action="/authenticate">
          <h3>Login</h3>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
        <a href="/admin/users/new">Or create an account</a>
      </div>       
      <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
  </div>
</div>
</body>

<style>
  body {
      background-color: #2d333b;
  }

  .container {
      padding: 20px;
      display: flex;
      justify-content: center;
  }

  .container_forms {
      background-color: #fff;
      margin-top: 150px;
      padding: 20px;
      box-shadow: 2px 2px 5px rgb(0, 0, 0);
      border-radius: 5px;
  }

  #form_login {
      width: 400px;
  }

  #form_create {
      width: 400px;
  }

  a {
      text-decoration: none;
  }
</style>

<%- include ('../../partials/footer.ejs') -%>